blockquote.wp-block-quote,
blockquote.wp-block-quote.is-style-large,
blockquote {
  font-size: 24px;
  line-height: 34px;
  padding: 50px 60px 50px 60px;
  display: block;
  position: relative;
  background-color: $smoke-color;
  overflow: hidden;
  margin: 35px 0;
  color: $title-color;
  border-color: $theme-color;

  p {
    font-family: inherit;
    margin-bottom: 0 !important;
    line-height: 1.6;
    color: inherit;
    // max-width: 550px;
    width: 100%;
    position: relative;
    z-index: 3;
    font-style: normal;
  }

  &:before {
    content: '\f10e';
    font-family: $icon-font;
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 7rem;
    font-weight: 300;
    opacity: 0.10;
    line-height: 1;
    color: $theme-color;
  }



  p {
    margin-bottom: 0;

    a {
      color: inherit;
    }
  }

  cite {
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding-left: 45px;
    border-color: inherit;
    line-height: 1;
    font-weight: 400;
    margin-top: 2px;
    font-style: normal;
    color: $theme-color;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 7px;
      width: 30px;
      height: 2px;
      border-top: 2px solid;
      border-color: inherit;
    }
  }
}

.wp-block-pullquote blockquote:after {
  display: none;
}

.wp-block-pullquote blockquote {
  text-align: center;
  border-left: none;
}

blockquote.wp-block-quote.is-style-large:not(.is-style-plain) {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wp-block-pullquote blockquote cite {
  text-align: center;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-pullquote.is-style-solid-color {

  cite {
    margin-left: auto;
    margin-right: auto;
  }
}

// blockquote.has-very-dark-gray-color {
//   color: $white-color !important;
// }

figure.wp-block-pullquote {
  border-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 30px 0;
}


blockquote.wp-block-quote.has-text-align-right {
  border-right-color: $theme-color;
  padding: 50px 60px 50px 60px;

  &::before {
    left: 40px;
    right: auto;
    transform: rotate(180deg);
  }

  cite {
    padding-left: 0;
    padding-right: 40px;
    text-align: right;
    font-weight: 600;

    &:before {
      left: auto;
      right: 0;
      bottom: 5px;
    }
  }
}


blockquote.vs-quote {
  background-color: $secondary-color;
  color: $white-color;
  border: none;
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  padding: 53px 70px;

  p {
    font-style: inherit;
  }

  &:before {
    display: none;
  }

  .quote {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .label {
    color: $theme-color;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    display: block;
  }

  p {
    margin: 0 0 18px 0 !important;
  }

  cite {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color: $white-color;

    &:before {
      display: none;
    }
  }

}

.blog-meta {

  span,
  a {
    display: inline-block;
    margin-right: 23px;
    font-size: 18px;
    color: $body-color;

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 10px;
      color: $body-color;
    }
  }

  a:hover {
    color: $theme-color;
  }
}


.blog-category {
  margin-bottom: -10px;

  a {
    display: inline-block;
    color: $white-color;
    padding: 4.5px 24.5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: $theme-color;

    &:hover {
      background-color: $white-color;
      color: $body-color;
      border-color: $theme-color;
    }
  }
}

.blog-title {
  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }
}

.vs-blog {
  margin-bottom: 30px;
}


.blog-inner-title {
  font-size: 36px;
  margin-top: -0.3em;
  margin-bottom: 8px;
}

.blog-inner-list {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    padding: 0 0 0 55px;
    margin: 0 0 17px 0;

    &:before {
      content: "\f00c";
      position: absolute;
      font-weight: 400;
      font-family: $icon-font;
      left: 0;
      top: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: $white-color;
      background-color: $theme-color;
      border-radius: 50%;
    }
  }
}


.blog-single {
  position: relative;
  margin-bottom: 60px;

  .blog-meta {
    margin-bottom: 12px;
    margin-top: -0.45em;
    padding-top: 0;

    >span,
    a {
      font-size: 14px;
      margin: 0 22px 0 0;
      padding: 0;
      // color: #555555;
      color: $title-color;

      i {
        color: $theme-color;
      }
    }

    a {
      &:hover {
        color: $theme-color;
      }
    }
  }

  .blog-title {
    line-height: 1.35;
    margin-bottom: 23px;
    font-size: 30px;
  }

  .link-btn {
    width: fit-content;
    display: block;
  }

  .blog-author {
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 60px 0;
    background-color: #f4f6ff;

    .media-img {
      width: 180px;
      margin-right: 25px;
    }

    .author-degi {
      color: $theme-color;
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 5px 0;
    }

    .author-name {
      margin: 0 0 7px 0;
    }

    .author-text {
      margin: 0;
    }
  }

  .blog-date {
    background-color: $theme-color;
    color: $white-color;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    width: max-content;
    padding: 4.5px 20px;
    margin: 0 0 26px 0;
    border-radius: 10px;

    &:hover {
      background-color: $secondary-color;
      color: $white-color;
    }
  }

  .share-links-title {
    font-size: 20px;
    color: $title-color;
    font-family: $title-font;
    font-weight: 700;
    margin: 0 15px 0 0;
    display: inline-block;
  }

  .share-links {
    margin: 35px 0 55px 0;
    padding: 40px 40px;
    background-color: #f4f6ff;

    .row {
      align-items: center;
      margin-bottom: -20px;
    }
    
    .col-md-auto {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    .tagcloud {
      display: inline;

      a {
        border: none;
        box-shadow: 0px 7px 15px 0px rgba(0, 19, 87, 0.02);
      }
    }
  }

  .social-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {

      i {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        background-color: $white-color;
        color: $title-color;
        text-align: center;
        display: block;
        transition: all ease 0.4s;
        border-radius: 50%;
      }

      &:hover {
        i {
          background-color: $theme-color;
          color: $white-color;
        }
      }
    }
  }

  .blog-content {
    margin: 0;
    padding: 50px var(--blog-space-x, 50px) 24px var(--blog-space-x, 50px);
    position: relative;
    border: 1px solid #e0e0e0;
    background-color: $white-color;
    border-radius: 15px;
  }

  .blog-audio {
    line-height: 1;
  }

  .blog-audio,
  .blog-img {
    position: relative;
    background-color: $smoke-color;
  }

  .blog-img {
    border-radius: 15px;
    margin-bottom: -80px;

    img {
      border-radius: 15px;
    }

    .slick-arrow {
      --pos-x: 30px;
      border: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $theme-color;
      color: $white-color;
      border-radius: 5px;

      &:hover {
        background-color: $secondary-color;
        color: $white-color;
      }
    }

    .play-btn {
      --icon-size: 60px;
      --icon-font-size: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: calc(var(--icon-size) / -2) 0 0 calc(var(--icon-size) / -2);
    }
  }

  &.has-post-thumbnail {
    .blog-img + .blog-content {
      margin: 0 80px 0 80px;
      padding-top: 0.01px;

      .blog-date {
        margin-top: -17.5px;
      }
    }
  }

  .blog-video {
    line-height: 0;  
  }

  &.format-video {    
    .blog-content {
      border-radius: 0 0 15px 15px;
      border-top: none;
    }

    .blog-img {
      + .blog-content {
        border-radius: 15px;
        border-top: 1px solid #e0e0e0;
      }
    }
  }

  &:hover {
    .blog-img {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


.blog-details {
  .blog-img {
    margin: 0 0 40px 0;
  }

  .blog-date {
    margin-top: 0;
  }

  .blog-content {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .blog-title {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .blog-single {
    &.has-post-thumbnail {
      
      .blog-img + .blog-content {
        margin: 0;

        .blog-date {
          margin-top: 0;
        }
      }
    }
  }
}


.blog-style1 {
  background-color: $white-color;
  border-radius: 12px;
  transition: all ease 0.4s;

  .blog-img {
    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  .blog-category {
    margin-bottom: -8px;

    a {
      padding: 0;
      font-size: 14px;
      color: $title-color;
      background-color: transparent;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  .blog-title {
    font-weight: 600;
    margin: 0 0 20px 0;
  }

  .blog-avater {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px 0 0;

    img {
      width: 100%;
    }
  }

  .blog-date {
    background-color: $theme-color;
    color: $white-color;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    padding: 2.5px 10px;
    border-radius: 9999px;

    &:hover {
      background-color: $secondary-color;
      color: $white-color;
    }
  }

  .blog-bottom {
    display: flex;
    align-items: center;
  }

  .blog-writter {
    color: #74777c;
    font-size: 14px;
    font-weight: 500;
    margin: 2px 0 0 0;
  }

  .blog-content {
    padding: 30px 40px 40px 40px;
  }

  &:hover {
    box-shadow: 0px 21px 10px 0px rgba(4, 4, 4, 0.05);
  }
}

.blog-style2 {
  .blog-img {
    overflow: hidden;
    border-radius: 12px;

    img {
      width: 100%;
    }
  }

  .blog-date {
    margin: -17.5px 0 24px 0;

    a {
      display: inline-block;
      font-size: 14px;
      padding: 10.5px 20px;
      font-weight: 700;
      line-height: 1;
      background-color: $theme-color;
      color: $white-color;
      border-radius: 7px;
      text-transform: uppercase;

      &:hover {
        background-color: $white-color;
        color: $theme-color;
      }
    }
  }


  .blog-meta {
    margin: 0 0 12px 0;

    a {
      // color: #e3e3e3;
      color: #555555;
      display: inline-block;
      font-size: 14px;
      margin-right: 10px;

      i {
        color: $theme-color;
      }
    }
  }

  .blog-title {
    font-weight: 500;
    font-size: 22px;
    margin: 0;
  }

  .icon-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(60px);
    opacity: 0;
    visibility: hidden;
  }

  .blog-body {
    background-color: $white-color;
    padding: 0.1px 35px 30px 35px;
    margin: -35px 20px 0 20px;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    transition: all ease 0.4s;
  }

  .blog-content {
    overflow: hidden;
    position: relative;
    transition: all ease 0.4s;
    padding-bottom: 0;
  }

  &.layout2 {
    .blog-body {
      border: 1px solid #e0e0e0;
    }
  }

  &:hover {
    .icon-btn {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    .blog-body {
      margin-top: -104px;
      background-color: $secondary-color;
      border-color: transparent;
    }

    .blog-content {
      padding-bottom: 70px;
    }

    .blog-meta {
      a {
        color: #e3e3e3;

        &:hover {
          color: $theme-color;
        }
      }
    }

    .blog-title {
      a {
        color: $white-color;

        &:hover {
          color: $theme-color;
        }
      }
    }
  }

}


@include ml {
  .blog-style1 {
    .blog-content {
      padding: 30px 25px 40px 25px;
    }

    .blog-title {
      font-size: 22px;
    }
  }

  .blog-single {
    &.has-post-thumbnail {
     .blog-img + .blog-content {
        margin: 0 50px 0 50px;
      }
    }

  }
}


@include lg {
  blockquote {
    font-size: 18px;
    padding: 23px 30px 26px 30px;
  }

  blockquote.vs-quote {
    font-size: 20px;
    line-height: 26px;
    padding: 40px 25px;

    cite {
      font-size: 20px;
    }

    .label {
      font-size: 14px;
      margin: 0 0 8px 0;
    }
  }


  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 30px;

    .blog-author {
      padding: 25px;

      .author-name {
        font-size: 18px;
      }

      .author-degi {
        font-size: 14px;
      }
    }

    .author-degi {
      font-size: 14px;
    }

    .blog-title {
      font-size: 26px;
    }

    .blog-inner-title {
      font-size: 24px;
    }

    &.has-post-thumbnail {
      .blog-img + .blog-content {
        margin: 0 30px 0 30px;
      }
    }


    .blog-img {
      margin-bottom: -50px;
    }

    .share-links {
      padding: 25px 30px;
    }
  }

  .blog-inner-list {
    li {
      padding: 0 0 0 45px;
    }
  }

  .blog-details {
    .blog-title {
      margin-bottom: 25px;
    }
  }
}


@include md {
  .blog-style2 {
    .blog-body {
      padding: 0.1px 20px 30px 20px;
      margin: -35px 15px 0 15px;
    }

    .blog-title {
      font-size: 20px;
    }

    .blog-meta a {
      font-size: 13px;
    }

    .blog-date {
      margin: -17.5px 0 15px 0;
    }
  }

  .blog-single {
    .blog-content {
      padding-top: 40px;
      padding-bottom: 14px;
    }
  }
}


@include sm {
  blockquote {
    font-size: 16px;
    padding: 23px 15px 26px 15px;

    &:before {
      right: 30px;
      bottom: 30px;
      font-size: 2rem;
    }

    cite {
      margin-top: 17px;
      font-size: 14px;

      &::before {
        bottom: 6px;
      }
    }
  }

  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 20px;

    .blog-title {
      font-size: 24px;
      line-height: 1.4;
    }

    .share-links-title {
      font-size: 18px;
      display: block;
      margin: 0 0 10px 0;
    }

    &.has-post-thumbnail {
      .blog-img + .blog-content {
        margin: 0 10px 0 10px;
      }
    }


    .blog-img {
      margin-bottom: -20px;
    }

    .blog-img .play-btn {
      --icon-size: 40px;
      --icon-font-size: 14px;
      top: calc(50% - 10px);
    }

    .blog-author {
      display: block;

      .media-img {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .blog-style1 {
    .blog-title {
      font-size: 18px;
    }

    .blog-category {
      margin-bottom: 0px;
    }
  }

  .blog-style2 {
    .blog-body {
      margin: -20px 10px 0 10px;
    }
  }
}