.cta-bg2,
.cta-bg1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -137px;
  left: 0;
  background-size: 100% 100%;
}

.cta-bg2 {
  bottom: 0;
  display: none;
}

.cta-video {
  position: relative;
  margin-top: 100px;

  .play-btn {
    @extend .position-center;
    z-index: 5;
  }
}

.cta-shape1 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.cta-shape3,
.cta-shape2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 1596px;
  height: 815px;
  border-radius: 0 10px 10px 0;
}

.cta-shape3 {
  height: 100%;
}

@include hd {

  .cta-shape3,
  .cta-shape2 {
    max-width: 80%;
  }
}

@include xl {

  .cta-shape3,
  .cta-shape2 {
    border-radius: 0;
    height: 100%;
  }

  .cta-shape1 {
    max-width: 600px;
  }

  .cta-bg2 {
    display: block;
  }

  .cta-bg1 {
    display: none;
  }
}

@include lg {
  .cta-video {
    margin-top: 70px;
  }
}