.vs-hero-wrapper  {
  position: relative;
  z-index: 1;
}


.ls-custom-dot {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 50%;
  margin: 0 11px 0 0;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    background-color: $white-color;
    border-color: transparent;
  }
  
  &.style2 {
    display: block;
    margin: 10px 0;
    
    &:hover,
    &.active {
      background-color: $theme-color;
      border-color: $theme-color;
    }
  }


}


.hero-ripple-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(45deg) scale(0.94);
  border-radius: 40% 40% 40% 40% / 40% 40% 40% 40%;
  z-index: 2;

  img {
    transform: rotate(-45deg) scale(1.09);
    width: 100%;
  }
}

.hero-ripple-border {
  .ripple-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg) scale(0.94);
    border-radius: 40% 40% 40% 40%/ 40% 40% 40% 40%;
    border: 1px solid #bcbcbc;
    animation: ripple3 10s ease-in-out infinite;
    opacity: 0;
    z-index: 1;

    &:nth-child(2) {
      animation-delay: 2.6s;
    }

    &:nth-child(3) {
      animation-delay: 5.2s;
    }

    &:nth-child(4) {
      animation-delay: 7.8s;
    }

    &:nth-child(5) {
      animation-delay: 10.0s;
    }
  }
}

.vs-btn.ls-vs-btn {
  margin-right: 40px;
}


.ls-custom-arrow:not(:last-child) {
  margin-right: 10px;
}

.ls-arrow2,
.ls-custom-arrow.ls-arrow2 {
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}

.ls-arrow2:last-child,
.ls-custom-arrow.ls-arrow2:last-child {
  margin-bottom: 0;
}

@include hd {
  .ls-wrapper>.ls-layer {
    &.ls-hd-none {
      display: none !important;
    }
  }
}


@include ml {
  .ls-wrapper>.ls-layer {
    &.ls-ml-none {
      display: none !important;
    }
  }
}


@media (max-width: 1500px) {
  .ls-layer .ls-vs-btn {
    padding: 18px 25px;
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .ls-layer .ls-vs-btn {
    padding: 14px 26px;
    margin-right: 20px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ls-layer .ls-vs-btn {
    padding: 9px 19px;
    margin-right: 10px;
    font-size: 11px;
  }
}